.not-found {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #FFD32F, #FFD32F 50%, #1E2872 50%, #1E2872);
        margin-top: 80px;
    }
    .box {
        position: relative;
        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #f3f3f3;
            font-size: 245px;
            font-weight: 800;
            text-shadow: -25px 25px 40px rgba(0, 0, 0, 0.5);
            transition: font-size .4s ease-in;
            .zero {
                position: relative;
                display: inline-block;
                width: 200px;
                height: 200px;
                background: linear-gradient(315deg, #FFD32F, #FFD32F 50%, #1E2872 51%, #1E2872);
                border-radius: 50%;
                margin: 0 15px;
                box-shadow: -25px 25px 40px rgba(0, 0, 0, 0.5);
                transition: width .2s ease-in;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: linear-gradient(315deg, #FFD32F, #FFD32F 50%, #1E2872 51%, #1E2872);
                    box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
                    animation: animate 5s infinite;
                    transition: width .2s ease-in;
                }
            }
        }
    }
}

.action {
    text-align: center;
}

$nav-height: 80px;
$footer-height: 656px;

.oups {
    min-height: calc(100vh - #{$footer-height} - #{$nav-height});
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    h1 {
        width: 100%;
    }
}

  
  
@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
  
  
@media screen and (max-width: 980px) {
    .error-page {
        .col {
            &:first-of-type {
                margin-bottom: 30px;
            }
            &:last-of-type {
                &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: unset;
                height: 1px;
                width: 60%;
                }
            }
        }
    }

    .four-zero-four {
        margin-top: 60px;
        .box {
            h2 {
                font-size: 130px;
                .zero {
                    width: 100px;
                    height: 100px;
                    &:after {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
  