/* MAIN NAVIGATION
===================================================================================== */
.main-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5000;
}

.main-nav {
    border-bottom: solid 1px $light-gray;
    transition: height .3s;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li {
        list-style: none;
    }
    .right {
        display: flex;
        align-items: center;
        li {
           margin-right: 15px;
        }
    }
    img {
        transition: $transitionTime;
    }
    nav {
        height: 100%;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            li {
                position: relative;
                height: 50%;
                display: flex;
                align-items: center;
                margin: 0 20px;
                &:last-child {
                    height: 100%;
                    i.fa-check-circle {
                        position: absolute;
                        top: -2px;
                        right: -3px;
                        font-size: 16px;
                        background: white;
                        border-radius: 50%;
                    }
                }
                a {
                    font-size: 16px;
                    font-weight: 500;
                    color: $main-blue;
                    &:hover {
                        color: $main-yellow;
                    }
                }
            }
        }
    }

    .nav-icon {
        margin: 0;
        i {
            margin-right: 5px;
            &.fas {
                color: $dark-orange;
            }
        }
        span {
            color: $dark-orange;
        }
        &.user {
            margin: 0 10px 0 20px;
        }
    }
    .menu-toggle {
        display: none;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: solid 1px $main-blue;
        border-radius: 3px;
        .burger {
            width: 30px;
            height: 4px;
            background: $main-blue;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
            transition: all .5s ease-in-out;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 30px;
                height: 4px;
                background: $main-blue;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                transition: all .5s ease-in-out;
            }
            &:before {
                transform: translateY(-12px);
            }
            &:after {
                transform: translateY(12px);
            }
        }
        &.open {
            .burger {
                transform: translateX(-50px);
                background: transparent;
                box-shadow: none;
                &:before {
                    transform: rotate(45deg) translate(35px, -35px);
                }
                &:after {
                    transform: rotate(-45deg) translate(35px, 35px);
                }
            }
        }
    }
}

.dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    a {
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                margin: 0;
            }
        }
    }
    &:hover {
        button {
            color: $main-yellow;
            i {
                color: $main-yellow;
            }
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 100%;
        min-width: 175px;
        right: 0;
        z-index: 1;
        border-top: none;
        header {
            height: 13px;
        }
        .content {
            background-color: $light-gray;

            .nb-items {
                background-color: #fff;
                padding: 15px;
                text-align: center;
                p {
                    margin: 0;
                    font-weight: bold;
                }
            }

            .total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                label {
                    margin: 0;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 22px;
                    margin-right: 10px;
                }
                .value {
                    white-space: nowrap;
                    span {
                        color: inherit;
                        &:first-of-type {
                            font-weight: bold;
                            margin-right: 5px;
                            font-style: italic;
                            font-size: 22px;
                        }
                    }
                }
            }

            .link {
                background-color: #fff;
                text-align: center;
            }
        }
    }
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}


// Used in user space
.side-nav {
    position: sticky;
    top: 80px;
    nav {
        border: solid 1px $light-gray;
        padding: 15px;
        li {
            margin-bottom: 15px;
        }
        h2 {
            margin-top: 0;
            text-align: left;
        }
        button {
            margin-bottom: 0;
            width: 100%;
        }
        span {
            cursor: pointer;
            &:hover, &.active {
                color: $main-yellow;
            }
        }
    }
}

.sticky-nav {
    position: sticky;
    top: 60px;
    z-index: 1;
    background: $white;
}

// Nav with a nav-tabs look
.custom-nav-tabs {
    &.nav-tabs {
        border: none;
        ul {
            display: flex;
            width: 100%;
            li {
                a {
                    width: 100%;
                    display: block;
                }
                &.active {
                    a {
                        color: $main-blue !important;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 990px) {
    .main-nav {
        background: #fff;
        height: 60px!important;
        nav {
            height: calc(100vh - 60px);
            background: $white;
            position: absolute;
            top: 60px;
            left: 100%;
            right: 0;
            width: auto;
            z-index: 1000;
            overflow: hidden;
            transition: .3s;
            ul {
                flex-direction: column;
                height: auto;
                li {
                    width: 80%;
                    padding: 15px;
                    &:last-child {
                        border-top: solid 1px $light-gray;
                        border-bottom: solid 1px $light-gray;
                        display: flex;
                        flex-direction: column;
                        > a {
                            margin-top: 15px;
                        }
                    }
                    a {
                        color: $main-blue;
                        margin: auto;
                    }
                    div {
                        margin: auto;
                    }
                }
            }
            .dropdown {
                height: auto;
                width: 80%;
                text-align: center;
                transition: .3s;
                button {
                    position: relative;
                    color: $main-blue;
                    i {
                        position: absolute;
                        color: $main-blue;
                        right: -32vw;
                        font-size: 30px;
                        transition: .3s;
                    }
                }
                &:hover {
                    button {
                        color: $main-blue;
                        i {
                            color: $main-blue;
                        }
                    }
                }
                .dropdown-content {
                    display: none!important;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    border-top: solid 1px $light-gray;
                    border-bottom: solid 1px $light-gray;
                    a {
                        text-align: center;
                        color: $main-blue;
                        &:hover {
                            color: $main-blue;
                        }
                    }
                }
            &.open {
                transition: margin .3s;
                margin-bottom: 100px;
                    button {
                        i {
                            transform: rotateX(180deg);
                        }
                    }
                    .dropdown-content {
                        animation: .3s ease 0s normal forwards 1 fadein;
                        opacity: 1;
                        display: block!important;
                    }
                }
            }
            &.visible {
                left: 0;
            }
        }
        .menu-toggle {
            display: flex;
        }
    }

    .side-nav {
        nav {
            padding: 15px 15px 0;
            h2 {
                margin-top: 0;
            }
            ul {
                display: flex;
                align-items: center;
                overflow: scroll;
                margin: 0;
                li {
                    margin: 0 15px 15px 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    a, span {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}