/* VARIABLES
====================================================== */

// Main colors
$main-blue: #1E2872;
$main-yellow: #e0aa2e;
$main-member: #B71B5D;
$dark-orange: #E09B00;

// Secondary colors
$dark-blue: #1D224A;
$light-blue: #2699FB;
$main-violet: #656FBF;
$light-gray: #EAEBEB;
$dark-gray: #9EA1A3;
$white: #fff;

// Transition
$transitionTime: .3s;

// Padding and margins
$bigSpace: 50px;
$mediumSpace: 30px;
$smallSpace: 15px;
